.header .path {
    display: inline-block;
}

.header .path .path__item {
    text-decoration: none;
    color: #dedede;
    font-weight: bold;
    font-size: 22px;
}

.header .path b {
    font-size: 22px;
    padding: 0px 10px;
}

.header .count-accounts {
    margin-top: 8px;
}

.header .count-accounts h6 {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

.menu {
    margin-top: 15px;
}

.menu .delete {
    float: left;
}

.menu Button {
    margin: 5px;
}

.accounts {
    margin-top: 5px;
}

.alert {
    background-color: #dedede;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    margin-bottom: 12px;
}

.alert .account__link {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.alert .account__link:hover {
    color: rgb(63, 63, 63);
}

.alert .actions {
    float: right;
    margin-top: -4px;
}

.alert .actions__btns {
    float: left;
}

.alert .actions__status {
    float: right;
}

.actions__btns .btn-delete {
    border-radius: 10px;
    padding: 4px 11px;
    margin-right: 10px;
}

.actions__status .status-launch {
    color: rgb(81, 133, 211);
    float: right;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 10px;
}

.actions__status .status-block {
    float: left;
    padding-top: 5px;
    font-weight: bold;
    font-size: 20px;
}

.actions__status .no-block {
    color: rgb(62, 207, 118);
}

.actions__status .info-block {
    color: rgb(81, 133, 211);
}

.actions__status .info-block:hover::before {
    content: attr(unblocking);
    font-size: 18px;
    color: #000;
    padding-right: 5px;
}

.launch__btns {
    max-width: 310px;
}

.launch__btns Button {
    margin: 5px;
}

.form-create-account Input {
    margin: 6px 0;
}

.form-create-account Button {
    margin-top: 5px;
}