{{ define "index" }}
{{ template "header" }}

<body>
    <div class="container">
        <h3>Сервисы</h3>

        <div class="services__content">
            <ul class="services__list btn-toolbar" role="toolbar">
                {{ range .Services }}
                    <li class="services__list-item">
                        <a href="/{{.Name}}/" class="services__list-item_link">
                            <h6 class="title">{{ .Title }}</h6>
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</body>
</html>

{{ end }}